@model GeekShopping.web.Models.ProductModel

<form asp-action="ProductDelete">
    <input asp-for="Id" hidden/>
    <div class="container border p-4 border rounded-1 shadow-sm">
        <h1 class="text-dark">Update Product</h1>
        <hr/>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger">  </div>

                <div class="col-2">
                    <label asp-for="Name" class="control-label pt-2" style="font-size:20px"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="Name" disabled class="form-control"/>
                </div>

                <div class="col-2">
                    <label asp-for="CategoryName" class="control-label pt-2" style="font-size:20px"></label>
                </div>
                <div class="col-10 pb-3">
                <input asp-for="CategoryName" disabled class="form-control" />
                </div>

                <div class="col-2">
                    <label asp-for="Price" class="control-label pt-2" style="font-size:20px"></label>
                </div>
                <div class="col-10 pb-3">
                <input asp-for="Price" disabled class="form-control" />
                </div>

                <div class="col-2">
                    <label asp-for="Description" class="control-label pt-2" style="font-size:20px"></label>
                </div>
                <div class="col-10 pb-3">
                <textarea asp-for="Description" disabled class="form-control"></textarea>
                </div>

                <div class="col-2">
                    <label asp-for="ImagemURL" class="control-label pt-2" style="font-size:20px"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="ImagemURL" disabled class="form-control" />
                </div>

                <div class="col-5 offset-2">
                    <a asp-action="ProductIndex" class="btn-primary btn form-control">Back to list</a>
                </div>
                 <div class="col-5 ">
                    <input type="submit" value="Delete" class="btn-danger btn form-control"/>
                </div>
          
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}